<div id="prefs_autoload" class="notice print_ignore" style="display:none">
    <form action="prefs_manage.php" method="post" class="disableAjax">
        <input type="hidden" name="token" value="e87004f3b6981bff9cc8ff72c5dd1816">
        <input type="hidden" name="json" value="">
        <input type="hidden" name="submit_import" value="1">
        <input type="hidden" name="return_url" value="index.php?">
        你的浏览器中有当前域的 phpMyAdmin 设置。是否导入到当前会话中？ <br>
        <a href="#yes">是</a>
        / <a href="#no">否</a>
    </form>
</div>
<div id="floating_menubar" style="margin-left: 243px; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 99;">
    <div id="serverinfo"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_host item"><a
            href="index.php?token=e87004f3b6981bff9cc8ff72c5dd1816" class="item">服务器: Local Databases</a>
        <div class="clearfloat"></div>
    </div>
    <div id="topmenucontainer" class="menucontainer">
        <ul id="topmenu" class="resizable-menu">
            <li class="active">

                <a href="#" class="tabactive">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="数据库" alt="数据库" class="icon ic_s_db">&nbsp;数据库 </a>
            </li>
            <li>

                <a href="#" class="tab" type="SQL">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="SQL" alt="SQL" class="icon ic_b_sql">&nbsp;SQL </a>
            </li>
            <li>

                <a href="#" class="tab" type="state">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="状态" alt="状态" class="icon ic_s_status">&nbsp;状态 </a>
            </li>
            <li>

                <a href="#"
                   class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="账户" alt="账户" class="icon ic_s_rights">&nbsp;账户 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="导出" alt="导出" class="icon ic_b_export">&nbsp;导出 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="导入" alt="导入" class="icon ic_b_import">&nbsp;导入 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="设置" alt="设置" class="icon ic_b_tblops">&nbsp;设置 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="复制" alt="复制" class="icon ic_s_replication">&nbsp;复制 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="变量" alt="变量" class="icon ic_s_vars">&nbsp;变量 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="字符集" alt="字符集" class="icon ic_s_asci">&nbsp;字符集 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="引擎" alt="引擎" class="icon ic_b_engine">&nbsp;引擎 </a>
            </li>
            <li>

                <a href="#" class="tab">
                    <img src="./<?= _PUBLIC_.'table_files/'?>pmahomme/img/b_plugin.png" title="插件" alt="插件">&nbsp;插件 </a>
            </li>
            <li class="submenu" style="">
                <a href="#" class="tab nowrap">
                    <img alt="" title="" src="<?= _PUBLIC_.'table_files/'?>dot.gif" class="icon ic_b_more">更多</a>
                <ul class="notonly"></ul>
            </li>
            <div class="clearfloat"></div>
        </ul>
    </div>
</div>
<span id="page_nav_icons"><span id="lock_page_icon"></span><span id="page_settings_icon" style="display: none;"><img
        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="页面相关设置" alt="页面相关设置" class="icon ic_s_cog"></span><a id="goto_pagetop" href="#"><img
        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="点击以滚动到页面顶部" alt="点击以滚动到页面顶部" class="icon ic_s_top"></a>
</span>
<div id="pma_console_container">
    <div id="pma_console">
        <div class="toolbar collapsed">
            <div class="switch_button console_switch"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="SQL 查询控制台" alt="SQL 查询控制台"
                                                           class="icon ic_console"><span>控制台</span></div>
            <div class="button clear"><span>清除</span></div>
            <div class="button history"><span>历史</span></div>
            <div class="button options"><span>选项</span></div>
            <div class="button debug hide"><span>调试 SQL</span></div>
        </div>
        <div class="content" style="height: 92px; margin-bottom: -98px; display: none;">
            <div class="console_message_container">
                <div class="message welcome binded"><span><span id="instructions-0" style="display: inline;">按 Ctrl+Enter 键执行查询</span><span
                        class="hide" id="instructions-1" style="display: none;">按 Enter 执行查询</span></span></div>
            </div>
            <div class="query_input"><span class="console_query_input"><div class="CodeMirror cm-s-pma CodeMirror-wrap"><div
                    style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 0px; left: 15.9896px;"><textarea
                    autocorrect="off" autocapitalize="off" spellcheck="false"
                    style="position: absolute; padding: 0px; width: 1000px; height: 1em; outline: none;"
                    tabindex="0"></textarea></div><div class="CodeMirror-vscrollbar" cm-not-content="true"><div
                    style="min-width: 1px; height: 0px;"></div></div><div class="CodeMirror-hscrollbar"
                                                                          cm-not-content="true"><div
                    style="height: 100%; min-height: 1px; width: 0px;"></div></div><div
                    class="CodeMirror-scrollbar-filler" cm-not-content="true"></div><div
                    class="CodeMirror-gutter-filler" cm-not-content="true"></div><div class="CodeMirror-scroll"
                                                                                      tabindex="-1"><div
                    class="CodeMirror-sizer"
                    style="margin-left: 16px; margin-bottom: -19px; border-right-width: 11px; min-height: 16px; padding-right: 0px; padding-bottom: 0px;"><div
                    style="position: relative; top: 0px;"><div class="CodeMirror-lines"><div
                    style="position: relative; outline: none;"><div
                    class="CodeMirror-measure"><span><span>​</span>x</span></div><div class="CodeMirror-measure"></div><div
                    style="position: relative; z-index: 1;"></div><div class="CodeMirror-cursors"><div
                    class="CodeMirror-cursor" style="left: 0px; top: 0px; height: 15.5556px;">&nbsp;</div></div><div
                    class="CodeMirror-code"><pre class=""><span style="padding-right: 0.1px;"><span cm-text="">​</span></span></pre></div></div></div></div></div><div
                    style="position: absolute; height: 11px; width: 1px; top: 16px;"></div><div
                    class="CodeMirror-gutters" style="height: 30px;"><div
                    class="CodeMirror-gutter CodeMirror-lint-markers"></div></div></div></div></span></div>
        </div>
        <div class="mid_layer"></div>
        <div class="card ungrouped" id="debug_console">
            <div class="toolbar">
                <div class="button order order_asc active"><span>递增排序</span></div>
                <div class="button order order_desc"><span>递减排序</span></div>
                <div class="text"><span>命令：</span></div>
                <div class="switch_button"><span>调试 SQL</span></div>
                <div class="button order_by sort_count"><span>数量</span></div>
                <div class="button order_by sort_exec active"><span>运行顺序</span></div>
                <div class="button order_by sort_time"><span>用时</span></div>
                <div class="text"><span>排序条件：</span></div>
                <div class="button group_queries"><span>联合查询</span></div>
                <div class="button ungroup_queries"><span>不使用联合查询</span></div>
            </div>
            <div class="content debug" style="height: 92px;">
                <div class="message welcome binded">获取SQL调试信息时出错。</div>
                <div class="debugLog"></div>
            </div>
            <div class="templates">
                <div class="debug_query action_content"><span class="action collapse">崩溃</span> <span
                        class="action expand">扩展</span> <span class="action dbg_show_trace">显示跟踪</span> <span
                        class="action dbg_hide_trace">隐藏跟踪</span> <span
                        class="text count hide">记录数： <span></span></span><span
                        class="text time">用时： <span></span></span></div>
            </div>
        </div>
        <div class="card" id="pma_console_options">
            <div class="toolbar">
                <div class="switch_button"><span>选项</span></div>
                <div class="button default"><span>恢复默认</span></div>
            </div>
            <div class="content" style="height: 92px;"><label><input type="checkbox"
                                                                     name="always_expand">总是扩展查询消息</label><br><label><input
                    type="checkbox" name="start_history">在开始时显示查询历史</label><br><label><input type="checkbox"
                                                                                             name="current_query">显示当前浏览查询</label><br><label><input
                    type="checkbox" name="enter_executes">浏览设置，使按Shift+Enter键执行输入和插入新行作为永久设置。</label><br><label><input
                    type="checkbox" name="dark_theme">切换到黑色主题</label><br></div>
        </div>
        <div class="templates">
            <div class="query_actions"><span class="action collapse">崩溃</span> <span class="action expand">扩展</span>
                <span class="action requery">重新查询</span> <span class="action edit">编辑</span> <span
                        class="action explain">解析</span> <span class="action profiling">性能分析</span> <span
                        class="text failed">查询失败</span> <span class="text targetdb">数据库: <span></span></span> <span
                        class="text query_time">查询时间: <span></span></span>
            </div>
        </div>
    </div>
</div>
<div id="page_content"><h2>
    <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_db"> 数据库
</h2>
    <ul>
        <li id="li_create_database" class="no_bullets">
            <form method="post" action="server_databases.php" id="create_database_form" class="ajax">
                <strong>
                    <label for="text_create_db">
                        <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_b_newdb"> 新建数据库 </label>&nbsp;<a
                        href="./url.php?url=https%3A%2F%2Fdev.mysql.com%2Fdoc%2Frefman%2F5.7%2Fen%2Fcreate-database.html"
                        target="mysql_doc"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
                </strong>
                <br>

                <input type="hidden" name="token" value="e87004f3b6981bff9cc8ff72c5dd1816"> <input type="hidden"
                                                                                                   name="reload"
                                                                                                   value="1">

                <input type="text" name="new_db" value="" maxlength="64" class="textfield" id="text_create_db"
                       required="" placeholder="数据库名">
                <select lang="en" dir="ltr" name="db_collation">
                    <option value="">排序规则</option>
                    <option value=""></option>
                    <optgroup label="armscii8" title="ARMSCII-8 Armenian">
                        <option value="armscii8_bin" title="亚美尼亚语, 二进制">armscii8_bin</option>
                        <option value="armscii8_general_ci" title="亚美尼亚语, 不区分大小写">armscii8_general_ci</option>
                    </optgroup>
                    <optgroup label="ascii" title="US ASCII">
                        <option value="ascii_bin" title="西欧 (多语言), 二进制">ascii_bin</option>
                        <option value="ascii_general_ci" title="西欧 (多语言), 不区分大小写">ascii_general_ci</option>
                    </optgroup>
                    <optgroup label="big5" title="Big5 Traditional Chinese">
                        <option value="big5_bin" title="繁体中文, 二进制">big5_bin</option>
                        <option value="big5_chinese_ci" title="繁体中文, 不区分大小写">big5_chinese_ci</option>
                    </optgroup>
                    <optgroup label="binary" title="Binary pseudo charset">
                        <option value="binary" title="二进制">binary</option>
                    </optgroup>
                    <optgroup label="cp1250" title="Windows Central European">
                        <option value="cp1250_bin" title="中欧 (多语言), 二进制">cp1250_bin</option>
                        <option value="cp1250_croatian_ci" title="克罗地亚语, 不区分大小写">cp1250_croatian_ci</option>
                        <option value="cp1250_czech_cs" title="捷克语, 区分大小写">cp1250_czech_cs</option>
                        <option value="cp1250_general_ci" title="中欧 (多语言), 不区分大小写">cp1250_general_ci</option>
                        <option value="cp1250_polish_ci" title="波兰语, 不区分大小写">cp1250_polish_ci</option>
                    </optgroup>
                    <optgroup label="cp1251" title="Windows Cyrillic">
                        <option value="cp1251_bin" title="西里尔语 (多语言), 二进制">cp1251_bin</option>
                        <option value="cp1251_bulgarian_ci" title="保加利亚语, 不区分大小写">cp1251_bulgarian_ci</option>
                        <option value="cp1251_general_ci" title="西里尔语 (多语言), 不区分大小写">cp1251_general_ci</option>
                        <option value="cp1251_general_cs" title="西里尔语 (多语言), 区分大小写">cp1251_general_cs</option>
                        <option value="cp1251_ukrainian_ci" title="乌克兰语, 不区分大小写">cp1251_ukrainian_ci</option>
                    </optgroup>
                    <optgroup label="cp1256" title="Windows Arabic">
                        <option value="cp1256_bin" title="阿拉伯语, 二进制">cp1256_bin</option>
                        <option value="cp1256_general_ci" title="阿拉伯语, 不区分大小写">cp1256_general_ci</option>
                    </optgroup>
                    <optgroup label="cp1257" title="Windows Baltic">
                        <option value="cp1257_bin" title="巴拉克语 (多语言), 二进制">cp1257_bin</option>
                        <option value="cp1257_general_ci" title="巴拉克语 (多语言), 不区分大小写">cp1257_general_ci</option>
                        <option value="cp1257_lithuanian_ci" title="立陶宛语, 不区分大小写">cp1257_lithuanian_ci</option>
                    </optgroup>
                    <optgroup label="cp850" title="DOS West European">
                        <option value="cp850_bin" title="西欧 (多语言), 二进制">cp850_bin</option>
                        <option value="cp850_general_ci" title="西欧 (多语言), 不区分大小写">cp850_general_ci</option>
                    </optgroup>
                    <optgroup label="cp852" title="DOS Central European">
                        <option value="cp852_bin" title="中欧 (多语言), 二进制">cp852_bin</option>
                        <option value="cp852_general_ci" title="中欧 (多语言), 不区分大小写">cp852_general_ci</option>
                    </optgroup>
                    <optgroup label="cp866" title="DOS Russian">
                        <option value="cp866_bin" title="俄语, 二进制">cp866_bin</option>
                        <option value="cp866_general_ci" title="俄语, 不区分大小写">cp866_general_ci</option>
                    </optgroup>
                    <optgroup label="cp932" title="SJIS for Windows Japanese">
                        <option value="cp932_bin" title="日语, 二进制">cp932_bin</option>
                        <option value="cp932_japanese_ci" title="日语, 不区分大小写">cp932_japanese_ci</option>
                    </optgroup>
                    <optgroup label="dec8" title="DEC West European">
                        <option value="dec8_bin" title="西欧 (多语言), 二进制">dec8_bin</option>
                        <option value="dec8_swedish_ci" title="瑞典语, 不区分大小写">dec8_swedish_ci</option>
                    </optgroup>
                    <optgroup label="eucjpms" title="UJIS for Windows Japanese">
                        <option value="eucjpms_bin" title="日语, 二进制">eucjpms_bin</option>
                        <option value="eucjpms_japanese_ci" title="日语, 不区分大小写">eucjpms_japanese_ci</option>
                    </optgroup>
                    <optgroup label="euckr" title="EUC-KR Korean">
                        <option value="euckr_bin" title="朝鲜语, 二进制">euckr_bin</option>
                        <option value="euckr_korean_ci" title="朝鲜语, 不区分大小写">euckr_korean_ci</option>
                    </optgroup>
                    <optgroup label="gb18030" title="China National Standard GB18030">
                        <option value="gb18030_bin" title="未知, 二进制">gb18030_bin</option>
                        <option value="gb18030_chinese_ci" title=", 不区分大小写">gb18030_chinese_ci</option>
                        <option value="gb18030_unicode_520_ci" title="Unicode (多语言)">gb18030_unicode_520_ci</option>
                    </optgroup>
                    <optgroup label="gb2312" title="GB2312 Simplified Chinese">
                        <option value="gb2312_bin" title="简体中文, 二进制">gb2312_bin</option>
                        <option value="gb2312_chinese_ci" title="简体中文, 不区分大小写">gb2312_chinese_ci</option>
                    </optgroup>
                    <optgroup label="gbk" title="GBK Simplified Chinese">
                        <option value="gbk_bin" title="简体中文, 二进制">gbk_bin</option>
                        <option value="gbk_chinese_ci" title="简体中文, 不区分大小写">gbk_chinese_ci</option>
                    </optgroup>
                    <optgroup label="geostd8" title="GEOSTD8 Georgian">
                        <option value="geostd8_bin" title="乔治亚语, 二进制">geostd8_bin</option>
                        <option value="geostd8_general_ci" title="乔治亚语, 不区分大小写">geostd8_general_ci</option>
                    </optgroup>
                    <optgroup label="greek" title="ISO 8859-7 Greek">
                        <option value="greek_bin" title="希腊语, 二进制">greek_bin</option>
                        <option value="greek_general_ci" title="希腊语, 不区分大小写">greek_general_ci</option>
                    </optgroup>
                    <optgroup label="hebrew" title="ISO 8859-8 Hebrew">
                        <option value="hebrew_bin" title="希伯来语, 二进制">hebrew_bin</option>
                        <option value="hebrew_general_ci" title="希伯来语, 不区分大小写">hebrew_general_ci</option>
                    </optgroup>
                    <optgroup label="hp8" title="HP West European">
                        <option value="hp8_bin" title="西欧 (多语言), 二进制">hp8_bin</option>
                        <option value="hp8_english_ci" title="英语, 不区分大小写">hp8_english_ci</option>
                    </optgroup>
                    <optgroup label="keybcs2" title="DOS Kamenicky Czech-Slovak">
                        <option value="keybcs2_bin" title="捷克斯洛伐克语, 二进制">keybcs2_bin</option>
                        <option value="keybcs2_general_ci" title="捷克斯洛伐克语, 不区分大小写">keybcs2_general_ci</option>
                    </optgroup>
                    <optgroup label="koi8r" title="KOI8-R Relcom Russian">
                        <option value="koi8r_bin" title="俄语, 二进制">koi8r_bin</option>
                        <option value="koi8r_general_ci" title="俄语, 不区分大小写">koi8r_general_ci</option>
                    </optgroup>
                    <optgroup label="koi8u" title="KOI8-U Ukrainian">
                        <option value="koi8u_bin" title="乌克兰语, 二进制">koi8u_bin</option>
                        <option value="koi8u_general_ci" title="乌克兰语, 不区分大小写">koi8u_general_ci</option>
                    </optgroup>
                    <optgroup label="latin1" title="cp1252 West European">
                        <option value="latin1_bin" title="西欧 (多语言), 二进制">latin1_bin</option>
                        <option value="latin1_danish_ci" title="丹麦语, 不区分大小写">latin1_danish_ci</option>
                        <option value="latin1_general_ci" title="西欧 (多语言), 不区分大小写">latin1_general_ci</option>
                        <option value="latin1_general_cs" title="西欧 (多语言), 区分大小写">latin1_general_cs</option>
                        <option value="latin1_german1_ci" title="德语 (字典), 不区分大小写">latin1_german1_ci</option>
                        <option value="latin1_german2_ci" title="德语 (电话本), 不区分大小写">latin1_german2_ci</option>
                        <option value="latin1_spanish_ci" title="西班牙语, 不区分大小写">latin1_spanish_ci</option>
                        <option value="latin1_swedish_ci" title="瑞典语, 不区分大小写">latin1_swedish_ci</option>
                    </optgroup>
                    <optgroup label="latin2" title="ISO 8859-2 Central European">
                        <option value="latin2_bin" title="中欧 (多语言), 二进制">latin2_bin</option>
                        <option value="latin2_croatian_ci" title="克罗地亚语, 不区分大小写">latin2_croatian_ci</option>
                        <option value="latin2_czech_cs" title="捷克语, 区分大小写">latin2_czech_cs</option>
                        <option value="latin2_general_ci" title="中欧 (多语言), 不区分大小写">latin2_general_ci</option>
                        <option value="latin2_hungarian_ci" title="匈牙利语, 不区分大小写">latin2_hungarian_ci</option>
                    </optgroup>
                    <optgroup label="latin5" title="ISO 8859-9 Turkish">
                        <option value="latin5_bin" title="土耳其语, 二进制">latin5_bin</option>
                        <option value="latin5_turkish_ci" title="土耳其语, 不区分大小写">latin5_turkish_ci</option>
                    </optgroup>
                    <optgroup label="latin7" title="ISO 8859-13 Baltic">
                        <option value="latin7_bin" title="巴拉克语 (多语言), 二进制">latin7_bin</option>
                        <option value="latin7_estonian_cs" title="爱沙尼亚语, 区分大小写">latin7_estonian_cs</option>
                        <option value="latin7_general_ci" title="巴拉克语 (多语言), 不区分大小写">latin7_general_ci</option>
                        <option value="latin7_general_cs" title="巴拉克语 (多语言), 区分大小写">latin7_general_cs</option>
                    </optgroup>
                    <optgroup label="macce" title="Mac Central European">
                        <option value="macce_bin" title="中欧 (多语言), 二进制">macce_bin</option>
                        <option value="macce_general_ci" title="中欧 (多语言), 不区分大小写">macce_general_ci</option>
                    </optgroup>
                    <optgroup label="macroman" title="Mac West European">
                        <option value="macroman_bin" title="西欧 (多语言), 二进制">macroman_bin</option>
                        <option value="macroman_general_ci" title="西欧 (多语言), 不区分大小写">macroman_general_ci</option>
                    </optgroup>
                    <optgroup label="sjis" title="Shift-JIS Japanese">
                        <option value="sjis_bin" title="日语, 二进制">sjis_bin</option>
                        <option value="sjis_japanese_ci" title="日语, 不区分大小写">sjis_japanese_ci</option>
                    </optgroup>
                    <optgroup label="swe7" title="7bit Swedish">
                        <option value="swe7_bin" title="瑞典语, 二进制">swe7_bin</option>
                        <option value="swe7_swedish_ci" title="瑞典语, 不区分大小写">swe7_swedish_ci</option>
                    </optgroup>
                    <optgroup label="tis620" title="TIS620 Thai">
                        <option value="tis620_bin" title="泰语, 二进制">tis620_bin</option>
                        <option value="tis620_thai_ci" title="泰语, 不区分大小写">tis620_thai_ci</option>
                    </optgroup>
                    <optgroup label="ucs2" title="UCS-2 Unicode">
                        <option value="ucs2_bin" title="Unicode (多语言), 二进制">ucs2_bin</option>
                        <option value="ucs2_croatian_ci" title="克罗地亚语, 不区分大小写">ucs2_croatian_ci</option>
                        <option value="ucs2_czech_ci" title="捷克语, 不区分大小写">ucs2_czech_ci</option>
                        <option value="ucs2_danish_ci" title="丹麦语, 不区分大小写">ucs2_danish_ci</option>
                        <option value="ucs2_esperanto_ci" title="世界语, 不区分大小写">ucs2_esperanto_ci</option>
                        <option value="ucs2_estonian_ci" title="爱沙尼亚语, 不区分大小写">ucs2_estonian_ci</option>
                        <option value="ucs2_general_ci" title="Unicode (多语言), 不区分大小写">ucs2_general_ci</option>
                        <option value="ucs2_general_mysql500_ci" title="Unicode (多语言)">ucs2_general_mysql500_ci</option>
                        <option value="ucs2_german2_ci" title="德语 (电话本), 不区分大小写">ucs2_german2_ci</option>
                        <option value="ucs2_hungarian_ci" title="匈牙利语, 不区分大小写">ucs2_hungarian_ci</option>
                        <option value="ucs2_icelandic_ci" title="冰岛语, 不区分大小写">ucs2_icelandic_ci</option>
                        <option value="ucs2_latvian_ci" title="拉脱维亚语, 不区分大小写">ucs2_latvian_ci</option>
                        <option value="ucs2_lithuanian_ci" title="立陶宛语, 不区分大小写">ucs2_lithuanian_ci</option>
                        <option value="ucs2_persian_ci" title="波斯语, 不区分大小写">ucs2_persian_ci</option>
                        <option value="ucs2_polish_ci" title="波兰语, 不区分大小写">ucs2_polish_ci</option>
                        <option value="ucs2_roman_ci" title="西欧, 不区分大小写">ucs2_roman_ci</option>
                        <option value="ucs2_romanian_ci" title="罗马尼亚语, 不区分大小写">ucs2_romanian_ci</option>
                        <option value="ucs2_sinhala_ci" title="僧伽罗语, 不区分大小写">ucs2_sinhala_ci</option>
                        <option value="ucs2_slovak_ci" title="斯洛伐克语, 不区分大小写">ucs2_slovak_ci</option>
                        <option value="ucs2_slovenian_ci" title="斯洛文尼亚语, 不区分大小写">ucs2_slovenian_ci</option>
                        <option value="ucs2_spanish2_ci" title="传统西班牙语, 不区分大小写">ucs2_spanish2_ci</option>
                        <option value="ucs2_spanish_ci" title="西班牙语, 不区分大小写">ucs2_spanish_ci</option>
                        <option value="ucs2_swedish_ci" title="瑞典语, 不区分大小写">ucs2_swedish_ci</option>
                        <option value="ucs2_turkish_ci" title="土耳其语, 不区分大小写">ucs2_turkish_ci</option>
                        <option value="ucs2_unicode_520_ci" title="Unicode (多语言)">ucs2_unicode_520_ci</option>
                        <option value="ucs2_unicode_ci" title="Unicode (多语言), 不区分大小写">ucs2_unicode_ci</option>
                        <option value="ucs2_vietnamese_ci" title="越南语, 不区分大小写">ucs2_vietnamese_ci</option>
                    </optgroup>
                    <optgroup label="ujis" title="EUC-JP Japanese">
                        <option value="ujis_bin" title="日语, 二进制">ujis_bin</option>
                        <option value="ujis_japanese_ci" title="日语, 不区分大小写">ujis_japanese_ci</option>
                    </optgroup>
                    <optgroup label="utf16" title="UTF-16 Unicode">
                        <option value="utf16_bin" title="未知, 二进制">utf16_bin</option>
                        <option value="utf16_croatian_ci" title="克罗地亚语, 不区分大小写">utf16_croatian_ci</option>
                        <option value="utf16_czech_ci" title="捷克语, 不区分大小写">utf16_czech_ci</option>
                        <option value="utf16_danish_ci" title="丹麦语, 不区分大小写">utf16_danish_ci</option>
                        <option value="utf16_esperanto_ci" title="世界语, 不区分大小写">utf16_esperanto_ci</option>
                        <option value="utf16_estonian_ci" title="爱沙尼亚语, 不区分大小写">utf16_estonian_ci</option>
                        <option value="utf16_general_ci" title="未知, 不区分大小写">utf16_general_ci</option>
                        <option value="utf16_german2_ci" title="德语 (电话本), 不区分大小写">utf16_german2_ci</option>
                        <option value="utf16_hungarian_ci" title="匈牙利语, 不区分大小写">utf16_hungarian_ci</option>
                        <option value="utf16_icelandic_ci" title="冰岛语, 不区分大小写">utf16_icelandic_ci</option>
                        <option value="utf16_latvian_ci" title="拉脱维亚语, 不区分大小写">utf16_latvian_ci</option>
                        <option value="utf16_lithuanian_ci" title="立陶宛语, 不区分大小写">utf16_lithuanian_ci</option>
                        <option value="utf16_persian_ci" title="波斯语, 不区分大小写">utf16_persian_ci</option>
                        <option value="utf16_polish_ci" title="波兰语, 不区分大小写">utf16_polish_ci</option>
                        <option value="utf16_roman_ci" title="西欧, 不区分大小写">utf16_roman_ci</option>
                        <option value="utf16_romanian_ci" title="罗马尼亚语, 不区分大小写">utf16_romanian_ci</option>
                        <option value="utf16_sinhala_ci" title="僧伽罗语, 不区分大小写">utf16_sinhala_ci</option>
                        <option value="utf16_slovak_ci" title="斯洛伐克语, 不区分大小写">utf16_slovak_ci</option>
                        <option value="utf16_slovenian_ci" title="斯洛文尼亚语, 不区分大小写">utf16_slovenian_ci</option>
                        <option value="utf16_spanish2_ci" title="传统西班牙语, 不区分大小写">utf16_spanish2_ci</option>
                        <option value="utf16_spanish_ci" title="西班牙语, 不区分大小写">utf16_spanish_ci</option>
                        <option value="utf16_swedish_ci" title="瑞典语, 不区分大小写">utf16_swedish_ci</option>
                        <option value="utf16_turkish_ci" title="土耳其语, 不区分大小写">utf16_turkish_ci</option>
                        <option value="utf16_unicode_520_ci" title="Unicode (多语言)">utf16_unicode_520_ci</option>
                        <option value="utf16_unicode_ci" title="Unicode (多语言), 不区分大小写">utf16_unicode_ci</option>
                        <option value="utf16_vietnamese_ci" title="越南语, 不区分大小写">utf16_vietnamese_ci</option>
                    </optgroup>
                    <optgroup label="utf16le" title="UTF-16LE Unicode">
                        <option value="utf16le_bin" title="未知, 二进制">utf16le_bin</option>
                        <option value="utf16le_general_ci" title="未知, 不区分大小写">utf16le_general_ci</option>
                    </optgroup>
                    <optgroup label="utf32" title="UTF-32 Unicode">
                        <option value="utf32_bin" title="未知, 二进制">utf32_bin</option>
                        <option value="utf32_croatian_ci" title="克罗地亚语, 不区分大小写">utf32_croatian_ci</option>
                        <option value="utf32_czech_ci" title="捷克语, 不区分大小写">utf32_czech_ci</option>
                        <option value="utf32_danish_ci" title="丹麦语, 不区分大小写">utf32_danish_ci</option>
                        <option value="utf32_esperanto_ci" title="世界语, 不区分大小写">utf32_esperanto_ci</option>
                        <option value="utf32_estonian_ci" title="爱沙尼亚语, 不区分大小写">utf32_estonian_ci</option>
                        <option value="utf32_general_ci" title="未知, 不区分大小写">utf32_general_ci</option>
                        <option value="utf32_german2_ci" title="德语 (电话本), 不区分大小写">utf32_german2_ci</option>
                        <option value="utf32_hungarian_ci" title="匈牙利语, 不区分大小写">utf32_hungarian_ci</option>
                        <option value="utf32_icelandic_ci" title="冰岛语, 不区分大小写">utf32_icelandic_ci</option>
                        <option value="utf32_latvian_ci" title="拉脱维亚语, 不区分大小写">utf32_latvian_ci</option>
                        <option value="utf32_lithuanian_ci" title="立陶宛语, 不区分大小写">utf32_lithuanian_ci</option>
                        <option value="utf32_persian_ci" title="波斯语, 不区分大小写">utf32_persian_ci</option>
                        <option value="utf32_polish_ci" title="波兰语, 不区分大小写">utf32_polish_ci</option>
                        <option value="utf32_roman_ci" title="西欧, 不区分大小写">utf32_roman_ci</option>
                        <option value="utf32_romanian_ci" title="罗马尼亚语, 不区分大小写">utf32_romanian_ci</option>
                        <option value="utf32_sinhala_ci" title="僧伽罗语, 不区分大小写">utf32_sinhala_ci</option>
                        <option value="utf32_slovak_ci" title="斯洛伐克语, 不区分大小写">utf32_slovak_ci</option>
                        <option value="utf32_slovenian_ci" title="斯洛文尼亚语, 不区分大小写">utf32_slovenian_ci</option>
                        <option value="utf32_spanish2_ci" title="传统西班牙语, 不区分大小写">utf32_spanish2_ci</option>
                        <option value="utf32_spanish_ci" title="西班牙语, 不区分大小写">utf32_spanish_ci</option>
                        <option value="utf32_swedish_ci" title="瑞典语, 不区分大小写">utf32_swedish_ci</option>
                        <option value="utf32_turkish_ci" title="土耳其语, 不区分大小写">utf32_turkish_ci</option>
                        <option value="utf32_unicode_520_ci" title="Unicode (多语言)">utf32_unicode_520_ci</option>
                        <option value="utf32_unicode_ci" title="Unicode (多语言), 不区分大小写">utf32_unicode_ci</option>
                        <option value="utf32_vietnamese_ci" title="越南语, 不区分大小写">utf32_vietnamese_ci</option>
                    </optgroup>
                    <optgroup label="utf8" title="UTF-8 Unicode">
                        <option value="utf8_bin" title="Unicode (多语言), 二进制">utf8_bin</option>
                        <option value="utf8_croatian_ci" title="克罗地亚语, 不区分大小写">utf8_croatian_ci</option>
                        <option value="utf8_czech_ci" title="捷克语, 不区分大小写">utf8_czech_ci</option>
                        <option value="utf8_danish_ci" title="丹麦语, 不区分大小写">utf8_danish_ci</option>
                        <option value="utf8_esperanto_ci" title="世界语, 不区分大小写">utf8_esperanto_ci</option>
                        <option value="utf8_estonian_ci" title="爱沙尼亚语, 不区分大小写">utf8_estonian_ci</option>
                        <option value="utf8_general_ci" title="Unicode (多语言), 不区分大小写">utf8_general_ci</option>
                        <option value="utf8_general_mysql500_ci" title="Unicode (多语言)">utf8_general_mysql500_ci</option>
                        <option value="utf8_german2_ci" title="德语 (电话本), 不区分大小写">utf8_german2_ci</option>
                        <option value="utf8_hungarian_ci" title="匈牙利语, 不区分大小写">utf8_hungarian_ci</option>
                        <option value="utf8_icelandic_ci" title="冰岛语, 不区分大小写">utf8_icelandic_ci</option>
                        <option value="utf8_latvian_ci" title="拉脱维亚语, 不区分大小写">utf8_latvian_ci</option>
                        <option value="utf8_lithuanian_ci" title="立陶宛语, 不区分大小写">utf8_lithuanian_ci</option>
                        <option value="utf8_persian_ci" title="波斯语, 不区分大小写">utf8_persian_ci</option>
                        <option value="utf8_polish_ci" title="波兰语, 不区分大小写">utf8_polish_ci</option>
                        <option value="utf8_roman_ci" title="西欧, 不区分大小写">utf8_roman_ci</option>
                        <option value="utf8_romanian_ci" title="罗马尼亚语, 不区分大小写">utf8_romanian_ci</option>
                        <option value="utf8_sinhala_ci" title="僧伽罗语, 不区分大小写">utf8_sinhala_ci</option>
                        <option value="utf8_slovak_ci" title="斯洛伐克语, 不区分大小写">utf8_slovak_ci</option>
                        <option value="utf8_slovenian_ci" title="斯洛文尼亚语, 不区分大小写">utf8_slovenian_ci</option>
                        <option value="utf8_spanish2_ci" title="传统西班牙语, 不区分大小写">utf8_spanish2_ci</option>
                        <option value="utf8_spanish_ci" title="西班牙语, 不区分大小写">utf8_spanish_ci</option>
                        <option value="utf8_swedish_ci" title="瑞典语, 不区分大小写">utf8_swedish_ci</option>
                        <option value="utf8_turkish_ci" title="土耳其语, 不区分大小写">utf8_turkish_ci</option>
                        <option value="utf8_unicode_520_ci" title="Unicode (多语言)">utf8_unicode_520_ci</option>
                        <option value="utf8_unicode_ci" title="Unicode (多语言), 不区分大小写">utf8_unicode_ci</option>
                        <option value="utf8_vietnamese_ci" title="越南语, 不区分大小写">utf8_vietnamese_ci</option>
                    </optgroup>
                    <optgroup label="utf8mb4" title="UTF-8 Unicode">
                        <option value="utf8mb4_bin" title="Unicode (多语言), 二进制">utf8mb4_bin</option>
                        <option value="utf8mb4_croatian_ci" title="克罗地亚语, 不区分大小写">utf8mb4_croatian_ci</option>
                        <option value="utf8mb4_czech_ci" title="捷克语, 不区分大小写">utf8mb4_czech_ci</option>
                        <option value="utf8mb4_danish_ci" title="丹麦语, 不区分大小写">utf8mb4_danish_ci</option>
                        <option value="utf8mb4_esperanto_ci" title="世界语, 不区分大小写">utf8mb4_esperanto_ci</option>
                        <option value="utf8mb4_estonian_ci" title="爱沙尼亚语, 不区分大小写">utf8mb4_estonian_ci</option>
                        <option value="utf8mb4_general_ci" title="Unicode (多语言), 不区分大小写">utf8mb4_general_ci</option>
                        <option value="utf8mb4_german2_ci" title="德语 (电话本), 不区分大小写">utf8mb4_german2_ci</option>
                        <option value="utf8mb4_hungarian_ci" title="匈牙利语, 不区分大小写">utf8mb4_hungarian_ci</option>
                        <option value="utf8mb4_icelandic_ci" title="冰岛语, 不区分大小写">utf8mb4_icelandic_ci</option>
                        <option value="utf8mb4_latvian_ci" title="拉脱维亚语, 不区分大小写">utf8mb4_latvian_ci</option>
                        <option value="utf8mb4_lithuanian_ci" title="立陶宛语, 不区分大小写">utf8mb4_lithuanian_ci</option>
                        <option value="utf8mb4_persian_ci" title="波斯语, 不区分大小写">utf8mb4_persian_ci</option>
                        <option value="utf8mb4_polish_ci" title="波兰语, 不区分大小写">utf8mb4_polish_ci</option>
                        <option value="utf8mb4_roman_ci" title="西欧, 不区分大小写">utf8mb4_roman_ci</option>
                        <option value="utf8mb4_romanian_ci" title="罗马尼亚语, 不区分大小写">utf8mb4_romanian_ci</option>
                        <option value="utf8mb4_sinhala_ci" title="僧伽罗语, 不区分大小写">utf8mb4_sinhala_ci</option>
                        <option value="utf8mb4_slovak_ci" title="斯洛伐克语, 不区分大小写">utf8mb4_slovak_ci</option>
                        <option value="utf8mb4_slovenian_ci" title="斯洛文尼亚语, 不区分大小写">utf8mb4_slovenian_ci</option>
                        <option value="utf8mb4_spanish2_ci" title="传统西班牙语, 不区分大小写">utf8mb4_spanish2_ci</option>
                        <option value="utf8mb4_spanish_ci" title="西班牙语, 不区分大小写">utf8mb4_spanish_ci</option>
                        <option value="utf8mb4_swedish_ci" title="瑞典语, 不区分大小写">utf8mb4_swedish_ci</option>
                        <option value="utf8mb4_turkish_ci" title="土耳其语, 不区分大小写">utf8mb4_turkish_ci</option>
                        <option value="utf8mb4_unicode_520_ci" title="Unicode (多语言)">utf8mb4_unicode_520_ci</option>
                        <option value="utf8mb4_unicode_ci" title="Unicode (多语言), 不区分大小写">utf8mb4_unicode_ci</option>
                        <option value="utf8mb4_vietnamese_ci" title="越南语, 不区分大小写">utf8mb4_vietnamese_ci</option>
                    </optgroup>
                </select>
                <input type="submit" value="创建" id="buttonGo">
            </form>
        </li>
    </ul>
    <div id="tableslistcontainer">
        <form class="ajax" action="server_databases.php" method="post" name="dbStatsForm" id="dbStatsForm">
            <input type="hidden" name="pos" value="0"><input type="hidden" name="dbstats" value=""><input type="hidden"
                                                                                                          name="sort_by"
                                                                                                          value="SCHEMA_NAME"><input
                type="hidden" name="sort_order" value="asc"><input type="hidden" name="token"
                                                                   value="e87004f3b6981bff9cc8ff72c5dd1816">
            <table id="tabledatabases" class="data">
                <thead>
                <tr>
                    <th></th>
                    <th>
                        <a href="server_databases.php?pos=0&amp;dbstats=0&amp;sort_by=SCHEMA_NAME&amp;sort_order=desc&amp;token=e87004f3b6981bff9cc8ff72c5dd1816">
                            数据库 <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="递增" alt="递增" class="icon ic_s_asc"> </a>
                    </th>

                    <th>
                        <a href="server_databases.php?pos=0&amp;dbstats=0&amp;sort_by=DEFAULT_COLLATION_NAME&amp;sort_order=desc&amp;token=e87004f3b6981bff9cc8ff72c5dd1816">
                            排序规则 </a>
                    </th>
                    <th>
                        操作
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr class="odd">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="1712a" value="1712a">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=1712a"
                           title="转到数据库">
                            1712a </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`1712a`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=1712a&amp;checkprivsdb=1712a"
                           title="检查数据库 &quot;1712a&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="even">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="1712fx" value="1712fx">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=1712fx"
                           title="转到数据库">
                            1712fx </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`1712fx`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=1712fx&amp;checkprivsdb=1712fx"
                           title="检查数据库 &quot;1712fx&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="odd">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="1712shop" value="1712shop">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=1712shop"
                           title="转到数据库">
                            1712shop </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`1712shop`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=1712shop&amp;checkprivsdb=1712shop"
                           title="检查数据库 &quot;1712shop&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="even">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="a67" value="a67">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=a67"
                           title="转到数据库">
                            a67 </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`a67`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=a67&amp;checkprivsdb=a67"
                           title="检查数据库 &quot;a67&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="odd noclick">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="information_schema"
                               value="information_schema" disabled="disabled" ;="">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=information_schema"
                           title="转到数据库">
                            information_schema </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`information_schema`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=information_schema&amp;checkprivsdb=information_schema"
                           title="检查数据库 &quot;information_schema&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="even noclick">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="mysql" value="mysql"
                               disabled="disabled" ;="">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=mysql"
                           title="转到数据库">
                            mysql </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            latin1_swedish_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`mysql`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=mysql&amp;checkprivsdb=mysql"
                           title="检查数据库 &quot;mysql&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="odd">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="oscshop" value="oscshop">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=oscshop"
                           title="转到数据库">
                            oscshop </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`oscshop`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=oscshop&amp;checkprivsdb=oscshop"
                           title="检查数据库 &quot;oscshop&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="even noclick">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="performance_schema"
                               value="performance_schema" disabled="disabled" ;="">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=performance_schema"
                           title="转到数据库">
                            performance_schema </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`performance_schema`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=performance_schema&amp;checkprivsdb=performance_schema"
                           title="检查数据库 &quot;performance_schema&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                <tr class="odd noclick">
                    <td class="tool">
                        <input type="checkbox" name="selected_dbs[]" class="checkall" title="sys" value="sys"
                               disabled="disabled" ;="">
                    </td>
                    <td class="name">
                        <a href="db_structure.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=sys"
                           title="转到数据库">
                            sys </a>
                    </td>

                    <td class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            utf8_general_ci </dfn>
                    </td>


                    <td class="tool">
                        <a onclick="PMA_commonActions.setDb('`sys`');"
                           href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;db=sys&amp;checkprivsdb=sys"
                           title="检查数据库 &quot;sys&quot; 的权限。">
                            <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="检查权限" alt="检查权限"
                                                      class="icon ic_s_rights">&nbsp;检查权限</span> </a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <th></th>
                    <th>
                        总计: <span id="databases_count">9</span>
                    </th>

                    <th class="value">
                        <dfn title="瑞典语, 不区分大小写">
                            latin1_swedish_ci </dfn>
                    </th>
                    <th></th>
                </tr>
                </tfoot>
            </table>
            <img class="selectallarrow" src="./<?= _PUBLIC_.'table_files/'?>pmahomme/img/arrow_ltr.png" width="38" height="22"
                 alt="选中项："><input type="checkbox" id="dbStatsForm_checkall" class="checkall_box" title="全选"><label
                for="dbStatsForm_checkall">全选</label><i style="margin-left: 2em">选中项：</i>
            <button class="mult_submit ajax" type="submit" name="" value="删除" title="删除">
                <span class="nowrap"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="删除" alt="删除"
                                          class="icon ic_b_deltbl">&nbsp;删除</span></button>
            <div class="notice"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_notice">
                注意：在此启用数据库统计可能导致网站服务器和 MySQL 服务器之间的流量骤增。
            </div>
            <ul>

                <li class="li_switch_dbstats">

                    <a href="server_databases.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;dbstats=1"
                       title="启用统计">
                        <strong>
                            启用统计</strong><br>
                    </a>
                </li>
            </ul>
        </form>
    </div>
</div>


