<div class="list_container" style="">
    <ul>
        <li class="new_index italics">
            <div class="block"><i></i><span class="hide pos2_name">tables</span><span
                    class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span
                    class="hide pos3_value">0</span></div>
            <div class="block "><a class=" ajax"
                                   href="tbl_indexes.php?server=1&amp;create_index=1&amp;added_fields=2&amp;db=1712a&amp;table=shop&amp;token=5e462b34e191bb585a42fb2a10505b7c"><img
                    src=" <?= _PUBLIC_.'table_files/'?>dot.gif" title="新建" alt="新建" class="icon ic_b_index_add"></a></div>
            <a class="hover_show_full ajax"
               href="tbl_indexes.php?server=1&amp;create_index=1&amp;added_fields=2&amp;db=1712a&amp;table=shop&amp;token=5e462b34e191bb585a42fb2a10505b7c"
               title="">新建</a>
            <div class="clearfloat"></div>
        </li>
        <?php foreach($result as $k=>$v){?>
        <?php if(!empty($v['Key'])){?>
        <li class="index">
            <div class="block"><i></i><span class="hide pos2_name">tables</span><span
                    class="hide pos2_value">0</span><span class="hide pos3_name">indexes</span><span
                    class="hide pos3_value">0</span></div>
            <div class="block "><a class=" ajax"
                                   href="tbl_indexes.php?server=1&amp;db=1712a&amp;table=shop&amp;index=PRIMARY&amp;token=5e462b34e191bb585a42fb2a10505b7c"><img
                    src=" <?= _PUBLIC_.'table_files/'?>dot.gif" title="索引" alt="索引" class="icon ic_b_index"></a></div>
            <a class="hover_show_full ajax"
               href="tbl_indexes.php?server=1&amp;db=1712a&amp;table=shop&amp;index=PRIMARY&amp;token=5e462b34e191bb585a42fb2a10505b7c"
               title=""><?=$v['Key']?></a>
            <div class="clearfloat"></div>
        </li>
        <?php }?>
        <?php }?>
    </ul>
</div>