<div id="floating_menubar" style="margin-left: 243px; left: 0px; position: fixed; top: 0px; width: 100%; z-index: 99;"><div id="serverinfo"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_host item"><a href="index.php?token=e87004f3b6981bff9cc8ff72c5dd1816" class="item">服务器: Local Databases</a><div class="clearfloat"></div></div><div id="topmenucontainer" class="menucontainer"><ul id="topmenu" class="resizable-menu"><li>

    <a href="server_databases.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
        <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="数据库" alt="数据库" class="icon ic_s_db">&nbsp;数据库            </a>
</li>
    <li class="active">

        <a href="server_sql.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tabactive">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="SQL" alt="SQL" class="icon ic_b_sql">&nbsp;SQL            </a>
    </li>
    <li>

        <a href="server_status.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="状态" alt="状态" class="icon ic_s_status">&nbsp;状态            </a>
    </li>
    <li>

        <a href="server_privileges.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816&amp;viewing_mode=server" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="账户" alt="账户" class="icon ic_s_rights">&nbsp;账户            </a>
    </li>
    <li>

        <a href="server_export.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="导出" alt="导出" class="icon ic_b_export">&nbsp;导出            </a>
    </li>
    <li>

        <a href="server_import.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="导入" alt="导入" class="icon ic_b_import">&nbsp;导入            </a>
    </li>
    <li>

        <a href="prefs_manage.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="设置" alt="设置" class="icon ic_b_tblops">&nbsp;设置            </a>
    </li>
    <li>

        <a href="server_replication.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="复制" alt="复制" class="icon ic_s_replication">&nbsp;复制            </a>
    </li>
    <li>

        <a href="server_variables.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="变量" alt="变量" class="icon ic_s_vars">&nbsp;变量            </a>
    </li>
    <li>

        <a href="server_collations.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="字符集" alt="字符集" class="icon ic_s_asci">&nbsp;字符集            </a>
    </li>
    <li>

        <a href="server_engines.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="引擎" alt="引擎" class="icon ic_b_engine">&nbsp;引擎            </a>
    </li>
    <li>

        <a href="server_plugins.php?db=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816" class="tab">
            <img src="./<?= _PUBLIC_.'table_files/'?>pmahomme/img/b_plugin.png" title="插件" alt="插件">&nbsp;插件            </a>
    </li>
    <li class="submenu" style=""><a href="#" class="tab nowrap"><img alt="" title="" src="<?= _PUBLIC_.'table_files/'?>dot.gif" class="icon ic_b_more">更多</a><ul class="notonly"></ul></li><div class="clearfloat"></div></ul>
</div>
</div>
<div id="page_content">
    <div id="page_settings_modal">
        <div class="page_settings">
            <form method="post"
                  action="server_sql.php?db=&amp;table=&amp;server=1&amp;target=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816"
                  class="config-form disableAjax"><input type="hidden" name="tab_hash" value=""><input type="hidden"
                                                                                                       name="check_page_refresh"
                                                                                                       id="check_page_refresh"
                                                                                                       value="">
                <input type="hidden" name="token" value="e87004f3b6981bff9cc8ff72c5dd1816">
                <input type="hidden" name="submit_save" value="Sql_queries">
                <ul class="tabs">

                    <li class="active">

                        <a href="#Sql_queries">
                            SQL 查询 </a>
                    </li>
                    <li>

                        <a href="#Sql_box">
                            SQL 查询框 </a>
                    </li>
                </ul>
                <br clear="right">
                <div class="tabs_contents">
                    <fieldset class="optbox" id="Sql_queries" style="display: block;">
                        <legend>SQL 查询</legend>
                        <p>SQL 查询设置。</p>
                        <table width="100%" cellspacing="0">
                            <tbody>
                            <tr>
                                <th><label for="ShowSQL">显示 SQL 查询</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_ShowSQL" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span>
                                    <small>定义是否显示 phpMyAdmin 生成的 SQL 查询。</small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox" name="ShowSQL" id="ShowSQL"
                                                                  checked="checked"></span><a class="restore-default"
                                                                                              href="#ShowSQL"
                                                                                              title="还原为默认值"
                                                                                              style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="Confirm">删除语句确认</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_Confirm" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span>
                                    <small>当查询可能丢失数据时是否显示警告（"您真的要…"）。</small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox" name="Confirm" id="Confirm"
                                                                  checked="checked"></span><a class="restore-default"
                                                                                              href="#Confirm"
                                                                                              title="还原为默认值"
                                                                                              style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="QueryHistoryMax">查询历史个数</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_QueryHistoryMax" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span>
                                    <small>查询历史的保存数量。</small>
                                </th>
                                <td><input type="number" name="QueryHistoryMax" id="QueryHistoryMax" value="25"><span
                                        class="field-comment-mark" title="最大 25">i</span><a class="restore-default"
                                                                                            href="#QueryHistoryMax"
                                                                                            title="还原为默认值"
                                                                                            style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="IgnoreMultiSubmitErrors">忽略多语句查询中的错误</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_IgnoreMultiSubmitErrors"
                                        target="documentation"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档"
                                                                    class="icon ic_b_help"></a>
</span>
                                    <small>若启用，在执行多语句查询时即使有错误发生，phpMyAdmin 也会继续执行其它语句。</small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox" name="IgnoreMultiSubmitErrors"
                                                                  id="IgnoreMultiSubmitErrors"></span><a
                                        class="restore-default" href="#IgnoreMultiSubmitErrors" title="还原为默认值"
                                        style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title=""
                                                                                           alt=""
                                                                                           class="icon ic_s_reload"
                                                                                           style="display: none;"></a>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="MaxCharactersInDisplayedSQL">SQL 最大显示长度</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_MaxCharactersInDisplayedSQL"
                                        target="documentation"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档"
                                                                    class="icon ic_b_help"></a>
</span>
                                    <small>显示 SQL 语句时的最大字数。</small>
                                </th>
                                <td><input type="number" name="MaxCharactersInDisplayedSQL"
                                           id="MaxCharactersInDisplayedSQL" value="1000"><a class="restore-default"
                                                                                            href="#MaxCharactersInDisplayedSQL"
                                                                                            title="还原为默认值"
                                                                                            style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="RetainQueryBox">保留查询框</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_RetainQueryBox" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span>
                                    <small>查询框在提交后是否依然显示在屏幕上。</small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox" name="RetainQueryBox"
                                                                  id="RetainQueryBox"></span><a class="restore-default"
                                                                                                href="#RetainQueryBox"
                                                                                                title="还原为默认值"
                                                                                                style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="CodemirrorEnable">启用 CodeMirror</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_CodemirrorEnable" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span>
                                    <small>Use user-friendly editor for editing SQL queries (CodeMirror) with syntax
                                        highlighting and line numbers.
                                    </small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox" name="CodemirrorEnable"
                                                                  id="CodemirrorEnable" checked="checked"></span><a
                                        class="restore-default" href="#CodemirrorEnable" title="还原为默认值"
                                        style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title=""
                                                                                           alt=""
                                                                                           class="icon ic_s_reload"
                                                                                           style="display: none;"></a>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="LintEnable">启用代码检查</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_LintEnable" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span>
                                    <small>查询前查找错误。需要启用镜像代码功能。</small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox" name="LintEnable" id="LintEnable"
                                                                  checked="checked"></span><a class="restore-default"
                                                                                              href="#LintEnable"
                                                                                              title="还原为默认值"
                                                                                              style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="EnableAutocompleteForTablesAndColumns">启用自动补全表名和字段名</label><span
                                        class="doc"><a
                                        href="./doc/html/config.html#cfg_EnableAutocompleteForTablesAndColumns"
                                        target="documentation"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档"
                                                                    class="icon ic_b_help"></a>
</span>
                                    <small>自动补全SQL查询中的表名和字段名。</small>
                                </th>
                                <td><span class="checkbox"><input type="checkbox"
                                                                  name="EnableAutocompleteForTablesAndColumns"
                                                                  id="EnableAutocompleteForTablesAndColumns"
                                                                  checked="checked"></span><a class="restore-default"
                                                                                              href="#EnableAutocompleteForTablesAndColumns"
                                                                                              title="还原为默认值"
                                                                                              style="display: inline-block; opacity: 0.25;"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="" alt="" class="icon ic_s_reload"
                                        style="display: none;"></a></td>
                            </tr>
                            <tr>
                                <th><label for="DefaultForeignKeyChecks">外键约束</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_DefaultForeignKeyChecks"
                                        target="documentation"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档"
                                                                    class="icon ic_b_help"></a>
</span>
                                    <small>外键约束默认值复选框。</small>
                                </th>
                                <td><select name="DefaultForeignKeyChecks" id="DefaultForeignKeyChecks">
                                    <option value="default" selected="selected">服务器默认</option>
                                    <option value="enable">启用</option>
                                    <option value="disable">禁用</option>
                                </select><a class="restore-default" href="#DefaultForeignKeyChecks" title="还原为默认值"
                                            style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif"
                                                                                               title="" alt=""
                                                                                               class="icon ic_s_reload"
                                                                                               style="display: none;"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                    <fieldset class="optbox" id="Sql_box" style="display: none;">
                        <legend>SQL 查询框</legend>
                        <p>自定义在 SQL 查询框中显示的链接。</p>
                        <table width="100%" cellspacing="0">
                            <tbody>
                            <tr>
                                <th><label for="SQLQuery-Edit">编辑</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_SQLQuery_Edit" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span></th>
                                <td><span class="checkbox"><input type="checkbox" name="SQLQuery-Edit"
                                                                  id="SQLQuery-Edit" checked="checked"></span><a
                                        class="restore-default" href="#SQLQuery-Edit" title="还原为默认值"
                                        style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title=""
                                                                                           alt=""
                                                                                           class="icon ic_s_reload"
                                                                                           style="display: none;"></a>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="SQLQuery-Explain">解析 SQL</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_SQLQuery_Explain" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span></th>
                                <td><span class="checkbox"><input type="checkbox" name="SQLQuery-Explain"
                                                                  id="SQLQuery-Explain" checked="checked"></span><a
                                        class="restore-default" href="#SQLQuery-Explain" title="还原为默认值"
                                        style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title=""
                                                                                           alt=""
                                                                                           class="icon ic_s_reload"
                                                                                           style="display: none;"></a>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="SQLQuery-ShowAsPHP">创建 PHP 代码</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_SQLQuery_ShowAsPHP" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span></th>
                                <td><span class="checkbox"><input type="checkbox" name="SQLQuery-ShowAsPHP"
                                                                  id="SQLQuery-ShowAsPHP" checked="checked"></span><a
                                        class="restore-default" href="#SQLQuery-ShowAsPHP" title="还原为默认值"
                                        style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title=""
                                                                                           alt=""
                                                                                           class="icon ic_s_reload"
                                                                                           style="display: none;"></a>
                                </td>
                            </tr>
                            <tr>
                                <th><label for="SQLQuery-Refresh">刷新</label><span class="doc"><a
                                        href="./doc/html/config.html#cfg_SQLQuery_Refresh" target="documentation"><img
                                        src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
</span></th>
                                <td><span class="checkbox"><input type="checkbox" name="SQLQuery-Refresh"
                                                                  id="SQLQuery-Refresh" checked="checked"></span><a
                                        class="restore-default" href="#SQLQuery-Refresh" title="还原为默认值"
                                        style="display: inline-block; opacity: 0.25;"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title=""
                                                                                           alt=""
                                                                                           class="icon ic_s_reload"
                                                                                           style="display: none;"></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </fieldset>
                </div>
            </form>
            <script type="text/javascript">
                if (typeof configInlineParams === "undefined" || !Array.isArray(configInlineParams)) configInlineParams = [];
                configInlineParams.push(function () {
                    validateField('QueryHistoryMax', 'PMA_validatePositiveNumber', true);
                    validateField('QueryHistoryMax', 'PMA_validateUpperBound', true, ['25']);
                    validateField('MaxCharactersInDisplayedSQL', 'PMA_validatePositiveNumber', true);
                    $.extend(PMA_messages, {
                        'error_nan_p': '请输入正数！',
                        'error_nan_nneg': '请输入非负数！',
                        'error_incorrect_port': '请输入有效的端口号！',
                        'error_invalid_value': '值错误！',
                        'error_value_lte': '值应小于或等于 %s！'
                    });
                    $.extend(defaultValues, {
                        'ShowSQL': true,
                        'Confirm': true,
                        'QueryHistoryMax': '25',
                        'IgnoreMultiSubmitErrors': false,
                        'MaxCharactersInDisplayedSQL': '1000',
                        'RetainQueryBox': false,
                        'CodemirrorEnable': true,
                        'LintEnable': true,
                        'EnableAutocompleteForTablesAndColumns': true,
                        'DefaultForeignKeyChecks': ['default'],
                        'SQLQuery-Edit': true,
                        'SQLQuery-Explain': true,
                        'SQLQuery-ShowAsPHP': true,
                        'SQLQuery-Refresh': true
                    });
                });
                if (typeof configScriptLoaded !== "undefined" && configInlineParams) loadInlineConfig();
            </script>
        </div>
    </div>
    <form method="post" action="import.php" enctype="multipart/form-data" class="ajax lock-page" id="sqlqueryform"
          name="sqlform">
        <input type="hidden" name="is_js_confirmed" value="0">
        <input type="hidden" name="token" value="e87004f3b6981bff9cc8ff72c5dd1816">
        <input type="hidden" name="pos" value="0">
        <input type="hidden" name="goto" value="server_sql.php">
        <input type="hidden" name="message_to_show" value="您的 SQL 语句已成功运行。">
        <input type="hidden" name="prev_sql_query" value="">
        <a id="querybox"></a>
        <div id="queryboxcontainer">
            <fieldset id="queryboxf">
                <legend>在服务器 "Local Databases" 运行 SQL 查询: <a
                        href="./url.php?url=https%3A%2F%2Fdev.mysql.com%2Fdoc%2Frefman%2F5.7%2Fen%2Fselect.html"
                        target="mysql_doc"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
                </legend>
                <div id="queryfieldscontainer">
                    <div id="sqlquerycontainerfull"><textarea tabindex="100" name="sql_query" id="sqlquery" cols="40"
                                                              rows="30" style="display: none;"></textarea>
                        <div class="CodeMirror cm-s-default CodeMirror-wrap ui-resizable" style="resize: vertical;">
                            <div style="overflow: hidden; position: relative; width: 3px; height: 0px; top: 3.99306px; left: 49.9826px;">
                                <textarea autocorrect="off" autocapitalize="off" spellcheck="false"
                                          style="position: absolute; padding: 0px; width: 1000px; height: 1em; outline: none;"
                                          tabindex="100"></textarea></div>
                            <div class="CodeMirror-vscrollbar" cm-not-content="true">
                                <div style="min-width: 1px; height: 0px;"></div>
                            </div>
                            <div class="CodeMirror-hscrollbar" cm-not-content="true">
                                <div style="height: 100%; min-height: 1px; width: 0px;"></div>
                            </div>
                            <div class="CodeMirror-scrollbar-filler" cm-not-content="true"></div>
                            <div class="CodeMirror-gutter-filler" cm-not-content="true"></div>
                            <div class="CodeMirror-scroll" tabindex="-1">
                                <div class="CodeMirror-sizer"
                                     style="margin-left: 46px; margin-bottom: -19px; border-right-width: 11px; min-height: 23px; padding-right: 0px; padding-bottom: 0px;">
                                    <div style="position: relative; top: 0px;">
                                        <div class="CodeMirror-lines">
                                            <div style="position: relative; outline: none;">
                                                <div class="CodeMirror-measure">
                                                    <pre><span>xxxxxxxxxx</span></pre>
                                                    <div class="CodeMirror-linenumber CodeMirror-gutter-elt">
                                                        <div>1</div>
                                                    </div>
                                                </div>
                                                <div class="CodeMirror-measure"></div>
                                                <div style="position: relative; z-index: 1;"></div>
                                                <div class="CodeMirror-cursors" style="">
                                                    <div class="CodeMirror-cursor"
                                                         style="left: 3.99307px; top: 0px; height: 15.5556px;">&nbsp;
                                                    </div>
                                                </div>
                                                <div class="CodeMirror-code">
                                                    <div style="position: relative;">
                                                        <div class="CodeMirror-gutter-wrapper"
                                                             style="left: -45.9896px; width: 46px;">
                                                            <div class="CodeMirror-linenumber CodeMirror-gutter-elt"
                                                                 style="left: 16px; width: 21px;">1
                                                            </div>
                                                        </div>
                                                        <pre class=""><span style="padding-right: 0.1px;"><span
                                                                cm-text="">​</span></span></pre>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div style="position: absolute; height: 11px; width: 1px; top: 23px;"></div>
                                <div class="CodeMirror-gutters" style="height: 251px;">
                                    <div class="CodeMirror-gutter CodeMirror-lint-markers"></div>
                                    <div class="CodeMirror-gutter CodeMirror-linenumbers" style="width: 29px;"></div>
                                </div>
                            </div>
                            <div class="ui-resizable-handle ui-resizable-s" style="z-index: 90;"></div>
                        </div>
                        <div id="querymessage"></div>
                        <input type="button" value="清除" id="clear" class="button sqlbutton"><input type="button"
                                                                                                   value="格式"
                                                                                                   id="format"
                                                                                                   class="button sqlbutton"><input
                                type="button" value="Get auto-saved query" id="saved" class="button sqlbutton">
                        <div><input type="checkbox" name="parameterized" id="parameterized"><label for="parameterized">Bind
                            parameters</label><a href="./doc/html/faq.html#faq6-40" target="documentation"><img
                                src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="文档" alt="文档" class="icon ic_b_help"></a>
                            <div id="parametersDiv"></div>
                        </div>
                    </div>
                    <div class="clearfloat"></div>
                </div>
                <div class="clearfloat"></div>
            </fieldset>
        </div>
        <fieldset id="queryboxfooter" class="tblFooters">
            <div class="formelement">
            </div>
            <div class="formelement"><label for="id_sql_delimiter">[ 语句定界符</label>
                <input type="text" name="sql_delimiter" tabindex="131" size="3" value=";" id="id_sql_delimiter"> ]
            </div>
            <div class="formelement"><input type="checkbox" name="show_query" value="1" id="checkbox_show_query"
                                            tabindex="132" checked="checked"><label
                    for="checkbox_show_query">在此再次显示此查询</label></div>
            <div class="formelement"><input type="checkbox" name="retain_query_box" value="1" id="retain_query_box"
                                            tabindex="133"><label for="retain_query_box">保留查询框</label></div>
            <div class="formelement"><input type="checkbox" name="rollback_query" value="1" id="rollback_query"
                                            tabindex="134"><label for="rollback_query">Rollback when finished</label>
            </div>
            <div class="formelement"><input type="hidden" name="fk_checks" value="0"><input type="checkbox"
                                                                                            name="fk_checks"
                                                                                            id="fk_checks" value="1"
                                                                                            checked="checked"><label
                    for="fk_checks">启用外键约束</label></div>
            <input type="submit" id="button_submit_query" name="SQL" tabindex="200" value="执行">
            <div class="clearfloat"></div>
        </fieldset>
        <a id="togglequerybox" style="display: none;">隐藏查询框</a></form>
    <div id="sqlqueryresultsouter"></div>
</div>
<div id="selflink" class="print_ignore"><a
        href="server_sql.php?db=&amp;table=&amp;server=1&amp;target=&amp;token=e87004f3b6981bff9cc8ff72c5dd1816"
        title="打开新的 phpMyAdmin 窗口" target="_blank"><img src="<?= _PUBLIC_.'table_files/'?>dot.gif" title="打开新的 phpMyAdmin 窗口"
                                                        alt="打开新的 phpMyAdmin 窗口" class="icon ic_window-new"></a>
</div>





